<h1 class="text-center my-3">Cadastro de Tarefas</h1>
<form action="/tarefas/create" method="post">
  <div class="row w-50 d-block m-auto g-3">
    <div class="col-12">
      <label class="form-label" for="titulo">Título:</label>
      <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Digite o título da Tarefa">
    </div>
    <div class="col-12">
      <label class="form-label" for="descricao">Descrição:</label>
      <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Digite a descrição da tarefa.">
    </div>
    <div>
      <input class="btn btn-primary my-3" type="submit" value="Cadastrar tarefa">
    </div>
  </div>
</form>
